@using Portal.Areas.Admin.ViewModels
@using Portal.Business.Utilities
@model PaginatedList<ExternalUserView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12 ">
        <div class="element-box element-wrapper">
            <h5 class="form-header">
                Customers List
            </h5>
            <div class="form-desc">
                Manage customers on the portal
                <!--   <a class="btn btn-sm btn-primary float-right" href="#"> <i class="os-icon os-icon-plus-circle"></i> Add Customer</a> -->
            </div>
            <div class="element-box-tp">
                <form asp-action="Index" method="get">
                    <div class="form-actions no-color">
                        <p>
                            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                            <input type="submit" value="Search" class="btn btn-default" /> |
                            <a asp-action="Index">Back to Full List</a>
                        </p>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped b-b">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Membership Number
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    KYC Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td class="text-center">
                                        <span>@item.MembershipNumber</span>
                                    </td>
                                    <td>
                                        <div class="user-with-avatar">
                                            <img alt="" src="~/custom/img/default-profile.svg"><span>@item.Name</span>
                                        </div>
                                    </td>

                                    <td>
                                        @item.Email
                                    </td>
                                    <td class="nowrap">
                                        <span class="status-pill smaller green"></span><span>Approved</span>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="controls-below-table">
                    <div class="table-records-info">
                        Showing records @Model.PageIndex - @Model.TotalPages
                    </div>
                    <div class="table-records-pages">
                        @{
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        }

                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-page="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-lg btn-primary @prevDisabled">
                            Previous
                        </a>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-page="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-lg btn-primary @nextDisabled">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>