@using Portal.Domain.Models.Identity
@model Portal.Domain.Models.Identity.ApplicationGroup

@{
    ViewData["Title"] = "_add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<!---- Dashboard Overview --->
<div class="row">
    <div class=" col-md-12 ">
        <div class=" ">
            <div class="">

                <div class="element-box">
                    <div class="m-b">
                        <form asp-action="CreatePermission" method="post">
                            @Html.AntiForgeryToken()
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="element-box">

                                        <h5 class="form-header">
                                            Add New Permission
                                        </h5>

                                        <div class="form-group">
                                            <label for="">Name</label>
                                            <input name="Name" asp-for="Name" class="form-control" placeholder="Enter permission name" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label for=""> Description</label>
                                            <textarea name="Description" asp-for="Description" class="form-control" placeholder="Enter description" type="text">
                                           </textarea>
                                        </div>

                                        <table class="table table-borderless table-lightborder table-striped">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        Module
                                                    </th>

                                                    <th colspan="4">
                                                        Actions
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.AvailableRoleMaker)
                                                {
                                                    <tr>
                                                        <td>

                                                            <span>@item</span>
                                                        </td>
                                                        <td>
                                                            <table class="table table-borderless">
                                                                <tr>
                                                                    @foreach (var role in Model.AvailableRole.Where(s => s.RoleGroupName.Equals(item)))
                                                                    {
                                                                        <td class="align-content-center">
                                                                            <div>
                                                                                <label class="switch swaller">
                                                                                    <input type="checkbox" class="success">
                                                                                    <span class="slider round smallder"></span>
                                                                                </label>
                                                                            </div>
                                                                            @role.Name
                                                                        </td>

                                                                    }
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>

                                        @*@foreach (var item in (List<ApplicationRole>)ViewBag.RolesList)
                                            {
                                                <div>
                                                    <input type="checkbox" name="SelectedRoles" value="@item.Name" class="checkbox-inline" />
                                                    <label for="@item.Name"> @item.Name</label>
                                                </div>
                                            }*@
                                    </div>

                                    <div class="form-buttons-w">
                                        <button class="btn btn-primary" type="submit">Add Product</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}