@model IEnumerable<ProductView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<!---- Latest Orders --->
<div class="row">
    <div class="col-md-12 ">
        <div class="element-box element-wrapper">
            <h5 class="form-header">
                Product List
            </h5>
            <div class="form-desc">
                Manage products on the portal
                <a class="btn btn-sm btn-primary float-right" asp-action="Add"> <i class="os-icon os-icon-plus-circle"></i> Add Product</a>
            </div>
            <div class="element-box-tp">
                <div class="table-responsive">
                    <table class="table table-striped b-b">
                        <thead>
                            <tr>
                                <th>
                                    Item Name
                                </th>
                                <th class="text-center">
                                    Amount
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Status
                                </th>
                                <th class="text-center">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="user-with-avatar">
                                            <img alt="" src="img/ethical-fund-image.jpg"><span>@item.Name</span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span>&#8358;@item.StartFrom</span>
                                    </td>
                                    <td>
                                        @item.ProductCategory
                                    </td>
                                    <td class="nowrap">
                                        @if (item.IsActive)
                                        {
                                            <span class="status-pill smaller green"></span><span>@item.IsActive</span>
                                        }
                                        else
                                        {

                                            <span class="status-pill smaller red"></span><span>@item.IsActive</span>
                                        }
                                    </td>
                                    <td class="row-actions">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-md btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                Action
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-Id="@item.Id">Edit</a>

                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" asp-action="AddFeatures" asp-route-Id="@item.Id">Product Features</a>
                                                <a class="dropdown-item" asp-action="AddInvestmentInfo" asp-route-Id="@item.Id">Investment Information</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="controls-below-table">
                        <div class="table-records-info">
                            Showing records 1 - 5
                        </div>
                        <div class="table-records-pages">
                            <ul>
                                <li>
                                    <a href="#">Previous</a>
                                </li>
                                <li>
                                    <a class="current" href="#">1</a>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">4</a>
                                </li>
                                <li>
                                    <a href="#">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>