@model Portal.Business.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
}

<!---- Page Title & Date --->
<div class="row">
    <div class="element-wrapper col-md-12 pb-0">
        <h6 class="element-header">
            Forgot Password
            @{
                var now = DateTime.Now;
                var time = now.ToString("HH:mm tt");
                var date = now.ToString("MMM dd yyyy");
            }
            <span class="date-timestamp float-right">@date, @time</span>
        </h6>
    </div>
</div>

<div class="row">
    @if (ViewBag.message != null)
    {
        <div class="col-lg-8 col-sm-12">
            <div class="element-box">
                <h3>@Html.Raw(ViewBag.message)</h3>
            </div>
        </div>
    }
</div>

<div class="row">
    <div class="col-lg-8 col-sm-12">
        <div class="element-box">
            @using (Html.BeginForm("ForgotPassword", "Portfolio", FormMethod.Post, new { role = "form", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="">Email Address</label>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", autocomplete = "off",
                                                                            @placeholder = "Enter Email Address *" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="">Username</label>
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", autocomplete = "off",
                                                                          @placeholder = "Enter Username *" })
                    </div>
                </div>                

                <div class="b-t mt-3 pt-3">
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </div>
            }
        </div>
    </div>

    <div class="col-lg-4 col-sm-12">
        <div class="element-box">
            <form>
                <h5 class="element-box-header">
                    Ad Banner
                </h5>
                <div class="form-desc">

                </div>
            </form>
        </div>
    </div>
</div>


