@using Portal.Business.Utilities
@model PaginatedList<OrdersGroupView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12 ">
        <div class="element-box element-wrapper">
            <h5 class="element-header">
                SALES
            </h5>
            <div class="element-box-tp">
                <div class="os-tabs-w">
                    <div class="os-tabs-controls">
                        <ul class="nav nav-tabs upper">
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Sales" asp-action="AllTime" class="nav-link">ALL TIME</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Sales" asp-action="LastYear" class="nav-link">LAST YEAR </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Sales" asp-action="LastMonth" class="nav-link  active">LAST MONTH </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Sales" asp-action="LastSevenDays">LAST 7 DAYS </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Sales" asp-action="SelectedPeriod">
                                    <div class="form-inline">
                                        <label for="" class=""><p>SELECT PERIOD </p></label><input class="multi-daterange form-control m-t-neg-1" type="text" value="">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane active" id="all_time">

                        <div class="row b-b">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-form-label col-sm-4" for=""> <h5>Select Product</h5></label>
                                    <div class="col-sm-4">
                                        <select class="form-control" onchange=selectProductCategory(this)>
                                            <option>
                                                select
                                            </option>
                                            <option>
                                                All Categories
                                            </option>
                                            @foreach (var s in (IEnumerable<string>)ViewData["ProductCategory"])
                                            {
                                                <option>
                                                    @s
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control" onchange=selectProduct(this)>
                                            <option>
                                                select
                                            </option>
                                            <option>
                                                All Products
                                            </option>
                                            @foreach (var s in (IEnumerable<string>)ViewData["Product"])
                                            {
                                                <option>
                                                    @s
                                                </option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h5 class=" form-group mt-2"> Total Sales: &#8358; @ViewData["Totals"]</h5>
                                <h5 class=" form-group mt-2"> Count Sales:  @ViewData["Counts"]</h5>
                            </div>
                            <div class="col-md-2">
                                <div class="btn-group float-right">

                                    <form asp-action="OnPostExport" method="get">
                                        <div>
                                            <p>
                                                <input type="hidden" id="productCategoryName" name="productCategoryName" />
                                                <input type="hidden" id="productName" name="productName" />
                                                <input type="hidden" id="searchPeriod" name="searchPeriod" value="lastMonth" />
                                                <input type="submit" value="Export To Excel" class="btn btn-primary" />
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped b-b">
                                <thead>
                                    <tr>
                                        <th>
                                            Date
                                        </th>
                                        <th>
                                            TransId
                                        </th>

                                        <th>
                                            Customer
                                        </th>
                                        <th>
                                            Category
                                        </th>
                                        <th>
                                            Item Purchased
                                        </th>

                                        <th class="text-center">
                                            Amount
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {

                                        foreach (var items in item.SoldItems)
                                        {
                                            <tr>

                                                <td>
                                                    @TransfromerManager.DateHumanized(item.TransactionDate)
                                                </td>
                                                <td>
                                                    @item.CartNumber
                                                </td>
                                                <td>@item.Customer</td>
                                                <td>
                                                    <div>
                                                        <span>@items.Product.ProductCategory.Name</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <span>@items.Product.Name</span>
                                                    </div>
                                                </td>

                                                <td class="text-center">
                                                    <span>&#8358;@items.Amount</span>
                                                </td>
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="controls-below-table">
                            <div class="table-records-info">
                                Showing records @Model.PageIndex - @Model.TotalPages
                            </div>
                            <div class="table-records-pages">
                                @{
                                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                                }

                                <a asp-action="LastMonth"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-page="@(Model.PageIndex - 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-lg btn-primary @prevDisabled">
                                    Previous
                                </a>
                                <a asp-action="LastMonth"
                                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                                   asp-route-page="@(Model.PageIndex + 1)"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="btn btn-lg btn-primary @nextDisabled">
                                    Next
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    function selectProductCategory(sel) {
        document.getElementById("productCategoryName").value = sel.options[sel.selectedIndex].text;
        document.getElementById("searchPeriod").value = "lastMonth";
    }

    function selectProduct(sel) {
        document.getElementById("productName").value = sel.options[sel.selectedIndex].text;
        document.getElementById("searchPeriod").value = "lastMonth";
    }
</script>