@using Portal.Business.Utilities
@model PaginatedList<OrdersView>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<!---- Orders Overview --->
<div class="row">
    <div class=" col-md-12 ">
        <div class=" ">
            <div class="">

                <div class="element-box">
                    <div class="m-b">
                        <div class="header text-left">
                            <h5>
                                Orders Overview
                            </h5>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col-sm-8 col-md-12 col-lg-8">
                                    <div class="element-wrapper">
                                        <h5 class="element-header ">

                                            <form class="float-right">
                                                <select class="form-control form-control-sm rounded bright">
                                                    <option selected="selected" value="">
                                                        This Month
                                                    </option>
                                                    <option value="January">
                                                        January
                                                    </option>
                                                    <option value="February">
                                                        February
                                                    </option>
                                                    <option value="March">
                                                        March
                                                    </option>
                                                </select>
                                                <span class="mg-left-a font-2rem">23,250 Orders</span>
                                            </form>
                                        </h5>

                                        <div class="element-box mt-5">

                                            <div class="el-chart-w">
                                                <canvas height="145" id="barChart2" width="300"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-4">
                                    <div class="element-wrapper">
                                        <div class="element-box">
                                            <h5 class="element-header">
                                                Orders Status
                                            </h5>

                                            <div class="el-chart-w">
                                                @*<canvas height="150px" id="pieChart2" width="150px"></canvas>*@
                                                <div height="150px" id="pieChart" width="150px"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---- Latest Orders --->

<div class="row">
    <div class="col-md-12 ">
        <div class="element-box element-wrapper">

            <div class="element-box-tp">
                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="Index" method="get">
                            <div class="form-actions no-color">
                                <p>
                                    Find by CartID: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                                    <input type="submit" value="Search" class="btn btn-default" /> |
                                    <a asp-action="Index">Back to Full List</a>
                                </p>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group float-right">

                            <form asp-action="OnCorrection" method="get">
                                <div class="form-actions no-color">
                                    <p>
                                        Correct by CartID: <input type="text" name="transactionId" />
                                        <input type="submit" value="Correct Transaction to Approved" class="btn btn-primary" />
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped b-b">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    CartID
                                </th>

                                <th>
                                    Customer
                                </th>
                                <th>
                                    Item Purchased
                                </th>
                                <th class="text-center">
                                    Amount
                                </th>
                                <th>
                                    Category
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td class="nowrap">
                                        @if (item.TransactionStatus.Equals("Succeed"))
                                        {
                                            <span class="status-pill smaller green"></span><span>@item.TransactionStatus</span>
                                        }
                                        @if (item.TransactionStatus.Equals("Failed"))
                                        {
                                            <input type="checkbox" id="myCheck" onclick="myFunction(this)" value='+@item.Id+'>@item.Id
                                            <span class="status-pill smaller red"></span><span>@item.TransactionStatus</span>
                                        }
                                        @if (item.TransactionStatus.Equals("Incart"))
                                        {
                                            <span class="status-pill smaller yellow"></span><span>@item.TransactionStatus</span>
                                        }
                                    </td>
                                    <td>
                                        <span class="smaller lighter">
                                            @string.Format("{0}", item.AddToCartDate, "MMMM dd, yyyy")
                                        </span>
                                    </td>
                                    <td>
                                        <div>
                                            @item.CartNumber
                                        </div>
                                    </td>

                                    <td>
                                        <a asp-controller="Customers" asp-action="Detail" asp-route-id="@item.CustomerId">@item.Customer</a>
                                    </td>
                                    <td>
                                        <div>
                                            @item.Product
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span>&#8358;@item.Amount</span>
                                    </td>
                                    <td>
                                        @item.Category
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="controls-below-table">
                    <div class="table-records-info">
                        Showing records @Model.PageIndex - @Model.TotalPages
                    </div>
                    <div class="table-records-pages">
                        @{
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        }

                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-page="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-lg btn-primary @prevDisabled">
                            Previous
                        </a>
                        <a asp-action="Index"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-page="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-lg btn-primary @nextDisabled">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function myFunction(ele) {
        var checkBox = document.getElementById("myCheck");
        var text = document.getElementById("text");
        if (checkBox.checked == true) {
            //text.style.display = "block";
            //text.innerHTML = checkBox.value;

            alert(checkBox.value);

        } else {
            text.style.display = "none";
        }
    }
</script>