@model Portal.Business.ViewModels.ClientUpdateViewModel

@{
    ViewData["Title"] = "Account Validation";
}

<!---- Page Title & Date --->
<div class="row">
    <div class="element-wrapper col-md-12 pb-0">
        <h6 class="element-header">
            Account Validation
            @{
                var now = DateTime.Now;
                var time = now.ToString("HH:mm tt");
                var date = now.ToString("MMM dd yyyy");
            }
            <span class="date-timestamp float-right">@date, @time</span>
        </h6>
    </div>
</div>
<!---- Uploads --->

<div class="row">
    <div class="col-md-12 col-xl-12">
        @if (Model.ErrorMessage != null && (bool)TempData["message"] == false)
        {         
            <div class="element-box">
                <p>@Model.ErrorMessage</p>
            </div>
        }

        @if (Model.SuccessMessage != null && (bool)TempData["message"] == true)
        {           
            <div class="element-box">
                <p>@Model.SuccessMessage</p>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xl-8">

        <div class="errMsg divlabel" style="color: brown;font-family: 'Gotham_book', sans-serif"></div>

        <form asp-action="AccountValidation" method="post" enctype="multipart/form-data" id="form-id">
        <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="profile-tile border-nun">
                    <a class="profile-tile-box upload-prof" href="#">
                        <div class="pt-avatar-w br-zero">
                            @*<input type="file" name="files" id="passport" class="inputfile" accept="image/jpeg, image/png, application/pdf" />*@
                            <img alt="" class="upload-valid-img" src="~/custom-client/img/upload-icon.svg">
                            <!--input file button-->
                            <div class="form-group centered">
                                @*<input type="file" class="form-control-file upload-valid-img" id="exampleFormControlFile1">*@
                                <div class="input-container">
                                    <input type="file" name="files" class="form-control-file upload-valid-img inputfile pass-input" id="passport" accept="image/jpeg, image/png, application/pdf" />
                                    <button class="browse-btn pass-btn">Browse Files</button>
                                    <span class="file-info">Upload a file</span>
                                </div>
                            </div>
                        </div>
                        <div class="pass-info"></div>
                        <div class="pt-user-name">
                            Passport Photograph
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="profile-tile border-nun">
                    <a class="profile-tile-box upload-prof" href="#">
                        <div class="pt-avatar-w br-zero">
                            <img alt="" class="upload-valid-img" src="~/custom-client/img/upload-icon.svg">
                            <!--input file button-->
                            <div class="form-group centered">
                                <div class="input-container">
                                    <input type="file" name="files" class="form-control-file upload-valid-img inputfile real-input sig-input" id="signature" accept="image/jpeg, image/png, application/pdf" />
                                    <button class="browse-btn sig-btn">Browse Files</button>
                                    <span class="file-info">Upload a file</span>
                                </div>
                            </div>
                        </div>
                        <div class="sig-info"></div>
                        <div class="pt-user-name">
                            Signature
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="profile-tile border-nun">
                    <a class="profile-tile-box upload-prof" href="#">
                        <div class="pt-avatar-w br-zero">
                            <img alt="" class="upload-valid-img" src="~/custom-client/img/upload-icon.svg">
                            <!--input file button-->
                            <div class="form-group centered">
                                <div class="input-container">
                                    <input type="file" name="files" class="form-control-file upload-valid-img inputfile real-input th-input" id="thumbprint" accept="image/jpeg, image/png, application/pdf" />
                                    <button class="browse-btn th-btn">Browse Files</button>
                                    <span class="file-info">Upload a file</span>
                                </div>
                            </div>
                        </div>
                        <div class="th-info"></div>
                        <div class="pt-user-name">
                            Thumbprint
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="profile-tile border-nun">
                    <span class="profile-tile-box upload-prof" href="#">
                        <div class="pt-avatar-w br-zero">
                            <img alt="" class="upload-valid-img" src="~/custom-client/img/upload-icon.svg">
                            <!--input file button-->
                            <div class="form-group centered">
                                <div class="input-container">
                                    <input type="file" name="files" class="form-control-file upload-valid-img inputfile real-input id-input" id="validid" accept="image/jpeg, image/png, application/pdf" />
                                    <button class="browse-btn id-btn">Browse Files</button>
                                    <span class="file-info">Upload a file</span>
                                </div>
                            </div>
                        </div>
                        <div class="id-info"></div>
                        <div class="pt-user-name">
                            Valid Identification
                        </div>
                    </span>

                </div>
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12">

                <div class="element-box">

                    <legend class="mb-0"><span>Applicable to US Citizens only</span></legend>

                    <div class="form-group">
                        <label for="">US Tax Number</label>
                        @Html.TextBoxFor(model => model.TaxNumber, new { @class = "form-control", @name = "TaxNumber", @placeholder = "Enter Tax Number" })
                    </div>


                    <div class="form-group">
                        <label for="">Jurisdiction</label>
                        @Html.TextBoxFor(model => model.Jurisdiction, new { @class = "form-control", @name = "Jurisdiction", @placeholder = "Enter Jurisdiction" })
                    </div>

                </div>
            </div>
            <div class="element-box content-box">
                <div class="help-block form-text text-muted form-control-feedback text-center">
                    Kindly note that it takes between 24 & 48 hours to update your information
                </div>
                <div class=" col-md-12 text-center b-t">
                    <button class="mr-2 mt-2 btn btn-primary " type="submit"> Submit</button>
                </div>
            </div>


        </div>

        </form>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="element-box d-md-none d-lg-block">
            AD BANNER
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            //this part will be refactored later. iterating through the classnames and all that.
            //begin
            var uploadButton = document.querySelector('.pass-btn');
            var fileInfo = document.querySelector('.pass-info');
            var realInput = document.querySelector('.pass-input');

            uploadButton.addEventListener('click', function (e) {
                e.preventDefault();
                realInput.click();
            });

            realInput.addEventListener('change', function () {
                var name = realInput.value.split(/\\|\//).pop();
                var truncated = name.length > 20 ? name.substr(name.length - 20) : name;
                fileInfo.innerHTML = truncated;
            });

            /**signature**/
            var uploadSig = document.querySelector('.sig-btn');
            var sigInfo = document.querySelector('.sig-info');
            var sigInput = document.querySelector('.sig-input');

            uploadSig.addEventListener('click', function (e) {
                e.preventDefault();
                sigInput.click();
            });

            sigInput.addEventListener('change', function () {
                var name = sigInput.value.split(/\\|\//).pop();
                var truncated = name.length > 20 ? name.substr(name.length - 20) : name;
                sigInfo.innerHTML = truncated;
            });

            /**thumbprint**/
            var uploadTh = document.querySelector('.th-btn');
            var thInfo = document.querySelector('.th-info');
            var thInput = document.querySelector('.th-input');

            uploadTh.addEventListener('click', function (e) {
                e.preventDefault();
                thInput.click();
            });

            thInput.addEventListener('change', function () {
                var name = thInput.value.split(/\\|\//).pop();
                var truncated = name.length > 20 ? name.substr(name.length - 20) : name;
                thInfo.innerHTML = truncated;
            });

            /**valid id**/
            var uploadId = document.querySelector('.id-btn');
            var idInfo = document.querySelector('.id-info');
            var idInput = document.querySelector('.id-input');

            uploadId.addEventListener('click', function (e) {
                e.preventDefault();
                idInput.click();
            });

            idInput.addEventListener('change', function () {
                var name = idInput.value.split(/\\|\//).pop();
                var truncated = name.length > 20 ? name.substr(name.length - 20) : name;
                idInfo.innerHTML = truncated;
            });

            //end

                $('#btnSubmit').prop('disabled', true);

                $("#passport").on('change', function (event) {
                    var file = event.target.files[0];

                    if (file.size >= 2 * 1024 * 1024) {
                        console.log("Only file sizes of maximum 2MB are allowed.");
                        $(".errMsg").text("Only file sizes of maximum 2MB are allowed.");
                        $(".errorPassport").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorPassport").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }

                    if (!(file.type.match('image/jp.*') || file.type.match('image/png') || file.type.match('application/pdf'))) {
                        console.log("Only images (jpg/png) and pdf files are allowed.");
                        $(".errMsg").text("Only images (jpg/png) and pdf files are allowed.");
                        $(".errorPassport").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorPassport").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }
                    
                });

                $("#signature").on('change', function (event) {
                    var file = event.target.files[0];

                    if (file.size >= 2 * 1024 * 1024) {
                        console.log("Only file sizes of maximum 2MB are allowed.");
                        $(".errMsg").text("Only file sizes of maximum 2MB are allowed.");
                        //$("#form-id").get(0).reset(); //the tricky part is to "empty" the input file here I reset the form.
                        $(".errorSignature").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorSignature").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }

                    if (!(file.type.match('image/jp.*') || file.type.match('image/png') || file.type.match('application/pdf'))) {
                        console.log("Only images (jpg/png) and pdf files are allowed.");
                        $(".errMsg").text("Only images (jpg/png) and pdf files are allowed.");
                        //$("#form-id").get(0).reset(); //the tricky part is to "empty" the input file here I reset the form.
                        $(".errorSignature").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorSignature").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }
                });

                $("#thumbprint").on('change', function (event) {
                    var file = event.target.files[0];

                    if (file.size >= 2 * 1024 * 1024) {
                        console.log("Only file sizes of maximum 2MB are allowed.");
                        $(".errMsg").text("Only file sizes of maximum 2MB are allowed.");
                        $(".errorThumbprint").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorThumbprint").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }

                    if (!(file.type.match('image/jp.*') || file.type.match('image/png') || file.type.match('application/pdf'))) {
                        console.log("Only images (jpg/png) and pdf files are allowed.");
                        $(".errMsg").text("Only images (jpg/png) and pdf files are allowed.");
                        $(".errorThumbprint").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorThumbprint").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }
                });

                $("#validid").on('change', function (event) {
                    var file = event.target.files[0];

                    if (file.size >= 2 * 1024 * 1024) {
                        console.log("Only file sizes of maximum 2MB are allowed.");
                        $(".errMsg").text("Only file sizes of maximum 2MB are allowed.");
                        $(".errorValidId").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorValidId").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }

                    if (!(file.type.match('image/jp.*') || file.type.match('image/png') || file.type.match('application/pdf'))) {
                        console.log("Only images (jpg/png) and pdf files are allowed.");
                        $(".errMsg").text("Only images (jpg/png) and pdf files are allowed.");
                        $(".errorValidId").text("*");
                        $('#btnSubmit').prop('disabled', true);
                        $("#form-id")[0].reset();
                        return;
                    }
                    else {
                        $(".errMsg").text("");
                        $(".errorValidId").text("");
                        $('#btnSubmit').prop('disabled', false);
                    }
                });
            });
    </script>
}
