@model Portal.Business.ViewModels.EmbassyLetterViewModel

@{
    ViewData["Title"] = "Embassy Letter";
}

<!---- Page Title & Date --->
<div class="row">
    <div class="element-wrapper col-md-12 pb-0">
        <h6 class="element-header">
            Embassy Letter Request
            @{
                var now = DateTime.Now;
                var time = now.ToString("HH:mm tt");
                var date = now.ToString("MMM dd yyyy");
            }
            <span class="date-timestamp float-right">@date, @time</span>
        </h6>
    </div>
</div>
<!---- Filter Parameters --->

<div class="row">
    
    <div class="col-lg-8 col-sm-12">
        @if (Model.SuccessMessage != null && (bool)TempData["message"] == true)
        {
            <div class="element-box"><span class="">@Model.SuccessMessage</span></div>              
        }

        @if (Model.ErrorMessage != null && (bool)TempData["message"] == false)
        {
            <div class="element-box">
                <span class="danger_text">@Model.ErrorMessage</span>
            </div>               
        }       
    </div>
    <div class="col-lg-4 col-sm-12"></div>

    <div class="col-lg-8 col-sm-12">

        <div class="element-box">
            @using (Html.BeginForm("EmbassyLetter", "SelfService", FormMethod.Post, new { role = "form", @name = "form" }))
            {
                <h5 class="element-box-header">
                    Embassy Letter Request Form
                </h5>
                <div class="form-desc">

                </div>

                <fieldset class="form-group">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for=""> Passport Number</label>
                                @Html.TextBoxFor(model => model.PassportNumber, new { @class = "form-control", @placeholder = "Enter Passport Number *", @required = "required" })
                                <small class="danger_text">@Html.ValidationMessageFor(model => model.PassportNumber)</small>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="">Attention Name</label>
                                @Html.TextBoxFor(model => model.AttentionName, new { @class = "form-control", @placeholder = "Enter Attention Name *", @required = "required" })
                                <p class="danger_text">@Html.ValidationMessageFor(model => model.AttentionName)</p>

                                <div class="help-block form-text text-muted form-control-feedback">
                                    The person/institution the letter should be addressed to
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label> Recipient Address</label>
                        @Html.TextAreaFor(model => model.RecipientAddress, new { @class = "form-control", @placeholder = "Recipient Address *", @required = "required" })
                        <p class="danger_text">@Html.ValidationMessageFor(model => model.RecipientAddress)</p>

                        <div class="help-block form-text text-muted form-control-feedback">
                            The physical address the letter should be addressed to
                        </div>
                    </div>

                    <div class="form-group">
                        <label> Additional Instructions</label>
                        @Html.TextAreaFor(model => model.AdditionalInstruction, new { @class = "form-control", @placeholder = "Additional Instructions", @required = "required" })
                    </div>

                </fieldset>
                <div class="form-check">
                    <label class="form-check-label"><input class="form-check-input" type="checkbox">Sending this request means you accept that ₦2,000.00 should be deducted from your account to process this request.</label>
                </div>
                <div class="form-buttons-w">
                    <button class="btn btn-primary" type="submit"> Submit Request</button>
                </div>
            }
        </div>
    </div>

    <div class="col-lg-4 col-sm-12">
        <div class="element-box element-wrapper">
            <h5 class="element-header">
                Track Embassy Letter Request

            </h5>
            @using (Html.BeginForm("TrackService", "SelfService", FormMethod.Post, new { role = "form", @name = "form" }))
            {
                <div class="form-group">
                    <label for=""> Tracking Number</label>
                    @Html.TextBoxFor(model => model.SelfService.TrackingNumber, new { @class = "form-control" })
                </div>  

                <div class="b-t mt-3 pt-3">
                    <button class="btn btn-primary" type="submit"> Get Status</button>
                </div>
            }
        </div>


        <div class="element-box">
            <form>
                <h5 class="element-box-header">
                    Ad Banner
                </h5>
                <div class="form-desc">

                </div>

            </form>
        </div>

    </div>

    <!-- Track Service-->
    <div class="col-lg-12 col-sm-12">
        @if (Model.SelfService != null 
            && Model.SelfService.TrackingNumber != null)
        {
            @if (Model.SelfService.RequestStatuses != null 
                && Model.SelfService.RequestStatuses.Count() > 0)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="element-box element-wrapper">
                            <h5 class="element-header">
                                Track Service Request
                            </h5>

                            <div class="">
                                <div class="table-responsive">
                                    <table class="table table-stripped">
                                        <thead>
                                            <tr>
                                                <th>TRACKING NUMBER</th>
                                                <th>DESCRIPTION</th>
                                                <th>REQUEST DATE</th>
                                                <th>STATUS</th>
                                                <th>REMARKS</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var data in Model.SelfService.RequestStatuses)
                                            {
                                                <tr>
                                                    <td>@data.TrackingNumber</td>
                                                    <td>@data.RequestDescription</td>
                                                    <td>@data.RequestDate</td>
                                                    <td>@data.CurrentStatus</td>
                                                    <td>@data.Remark</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="element-box element-wrapper">
                            <h5 class="element-header">
                                Track Service Request
                            </h5>
                            <p>
                                <span class="label">
                                    There is no update available for the tracking number submitted.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>


</div>